ul, li, p {
  margin: 0;
  padding:0;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

div.anchor.hover { cursor:pointer; }

textarea { border-width:1px;border-style:solid;border-color:#ccc; }
a img { border:none; }


a { text-decoration:none; &:hover { text-decoration:underline;  } }

.strong  { font-weight:bold; }
.no-link-decoration { a, a:hover {text-decoration:none;} }
.clear { clear:both; }

$sprite_url: '/images/sprite_orange.png?a';
$color1: #f90;
$color2: #fa3;
$color3: darkblue;
$color4: #999;

$color_line: #efefef;




.c-edit {
  .label  { float:left;display:inline-block;margin:30px 5px 20px 0;width:100px;text-align:right;font-weight:bold;color:#999; }
  .field  { float:left;display:inline-block;margin:20px 0; }
  .line   { border-bottom:#ccc solid 1px; }

  .input-value { border:#D0D2E1 solid 1px;font-size:15px;height:32px;padding:0 5px; }
  select  { background:#fff;margin-bottom:10px;padding:5px; }
  .actions {
    margin-top:20px;text-align:right;font-size:18px;padding:20px;
    .ui-button { color:$color1; }
  }
}





/*flavour*/
a *, a:hover * { color:$color1; }


/*icons begin*/
.icon-color {
  &.post-text {
    background-position: 0 -112px;
    &.selected { background-position: 0 -96px; }
  }
  &.post-image {
    background-position: -16px -112px;
    &.selected { background-position: -16px -96px; }
  }
  &.post-audio {
    background-position: -32px -112px;
    &.selected { background-position: -32px -96px; }
  }
  &.post-file {
    background-position: -48px -112px;
    &.selected { background-position: -48px -96px; }
  }
  &.post-likes {
    background-position: -64px -112px;
    &.selected { background-position: -64px -96px; }
  }
  &.post-follow {
    background-position: -80px -112px;
    &.selected { background-position: -80px -96px; }
  }

  &.action-repost {
    background-position: 0 -128px;
  }
  &.action-comment {
    background-position: -16px -128px;
  }
  &.action-delete {
    background-position: -32px -128px;
  }
  &.action-like {
    background-position: -48px -128px;
  }
  
  &.source-site {
    background-position: 0 -144px;
  }
  
  &.profile-birth-date {
    background-position: 0 -160px;
  }
  &.profile-birth-place {
    background-position: -16px -160px;
  }
  &.profile-current-place {
    background-position: -32px -160px;
  }
  &.profile-relationship {
    background-position: -48px -160px;
  }
  &.profile-language {
    background-position: -64px -160px;
  }
  &.profile-professional {
    background-position: -80px -160px;
  }
}

/*icons end*/


/*********   LAYOUT   *********   LAYOUT   *********   LAYOUT   *********/
/*********   LAYOUT   *********   LAYOUT   *********   LAYOUT   *********/
/*********   LAYOUT   *********   LAYOUT   *********   LAYOUT   *********/
/*********   LAYOUT   *********   LAYOUT   *********   LAYOUT   *********/
/*********   LAYOUT   *********   LAYOUT   *********   LAYOUT   *********/
/*********   LAYOUT   *********   LAYOUT   *********   LAYOUT   *********/

body {margin:0;padding:0;font-size:12px;font-family:Arial;}
.wrapper { width:840px;margin: 0 auto; }

/*header begin*/
.header {
  position:fixed;top:0;left:0;z-index:10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width:100%;height:40px;
  .wrapper {
    padding:4px 0;position:relative;
    .left {
      float:left;
      #bell-holder { float:left;margin-right:5px;width:32px;height:32px; }
      #logo, #bell, #searchbox { display:inline-block;float:left;margin-right:5px;width:32px;height:32px; }
      #logo {
        width:128px;
        /*position:absolute;left:0;top:4px;*/
        background-color:#fff;background-position: 0 0;
        &:hover { background-position: 0 -32px; }
      }
      #bell {
        /*position:absolute;left:0;top:4px;*/
        background-color:#fff;background-position: -128px 0;
        display:none;
        position:relative;z-index:10;
        &:hover { background-position: -128px -32px;text-decoration:none; }
        &.selected { background-position: -128px -64px; }
        span {
          background:#090;color:#fff;
          font-size:12px;font-weight:bold;
          padding:2px 4px;border-radius:2px 4px;
          position:absolute;
          top:0;right:0;
        }
      }
      #searchbox {
        width:256px;
        /*position:absolute;left:164px;top:4px;*/
        background-position: -192px 0;
        #text, #search  { display:inline-block;float:left; }
        #text           { width:216px;border:none;font-size:12px;line-height:22px;margin: 4px;background:transparent;outline:none;color:#fff; }
        #search         { width:32px;height:32px; }
      }
      #bellbox {
        width:300px;
        background:#fff;

        color:$color3;
        
        border:1px solid #666; /*border-width: 0px 2px 1px 0px;*/
        position:absolute;top:35px;left:133px;
        display:none;
        
        div.anchor {
          background:#fff;padding:10px;display:inline-block;
          img, span { float:left; }
          span { width:230px;margin-left:5px;color:$color4; }
          strong { color:$color1; }
          .time { color:$color4; }       
          a {
            display:inline-block;margin-right:5px;
            position:relative;
            height:12px;padding: 10px 0 4px;text-indent:20px;
            span {
              display:block;width:16px;height:16px;
              position:absolute;top:8px;left:0px;
            }
          }
          &.hover {
            background:$color1;
            strong, span, a { color:#fff; }
          }
        }
      }
    }



  


  

    .right {
      float:right;font-size:15px;
      ul {
        height:32px;margin:0;
        li {
          display:inline-block;float:left;height:32px;
          a {
            padding: 6px 10px 0;color:#fff; display:block;height:32px; text-decoration:none;
            &.hover { color:#fff; }
          }
        }
      }
    }
  }
}
/*header end*/


/*subheader begin*/
.subheader {
  position:fixed;top:40px;left:0;z-index:5;
  background:#069;
  width:100%;height:80px;
  .wrapper {
    padding:4px 0;position:relative;
    .left {
      float:left;
      table {
        margin-top:5px;
        tr, td { width:160px; }
        td { padding-right:5px; }
        label { color:#fff;font-weight:bold; }
        .input-type-text { width:160px;height:24px;padding:5px;border-width:1px; }
        .input-type-text { width:150px;height:14px;padding:5px;border-width:1px; }
        .input-button { height:28px; }
        a { font-size:10px;color:#fff; }
      }
    }
    .right {
      float:right;
      a.ui-button {
        margin-top:17px;
        background: #fff none;
        span { color:#069;font-weight:bold;font-size:18px; }
      }
    }
  }
}
/*subheader end*/

/*body begin*/
body.logged-in      .body { margin:40px auto 0; }
body.not-logged-in  .body { margin:120px auto 0; }
.body {
  border:#efefef solid 0px;position:relative;
  .in-v { margin:20px 0; }
  .in-h { margin:0 20px; }
  .in { margin: 20px; }
  
  .content-in, .sidebar-in { margin-top:30px; }
  .content { float:left;background:#ffffff;width:600px;min-height:1200px; }
  
  .sidebar, .sidebar-back { width:239px;height:100%;position:absolute;left:600px;top:0; }
  .sidebar-back { background:#ffffff;opacity:0.8; }
  .sidebar { border-left: #ccc solid 1px; }
}
/*body end*/

/*footer begin*/
.footer {
  margin:0 auto 20px;
  border-top: #ccc solid 1px;
  padding:5px 0;
  background:#fff;
  .left   { float:left;   }
  .right  { float:right;  }
  span    { color:$color4; }
  a       { margin-left:  10px; }
}
/*footer end*/






.body .content {
  a.more { width:560px;text-indent:0; }
}
.body .sidebar {
  
    .title {
      margin-bottom: 5px;
      span {
        display:block;float:left;
        width: 24px;height: 24px;
      }
      a {
        display:block;float:left;
        padding: 5px;
        font-size:15px;font-weight:bold;
        color:$color3;
        &:hover { color:$color1; }
      }
    }
    p { margin: 5px 0;color:$color3; }

    .line { margin-bottom: 10px; border-bottom: #fff solid 1px; }
    a.list-title { display:block;margin-bottom: 10px; }

    .user {
      font-size:12px;
      a.photo   { float:left;margin-right:10px;margin-bottom:10px; }
      span      { color:$color3;margin-bottom:10px; }
    }
/*
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
  <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ui-tabs-1">all posts (1)</a></li>
  <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-2">status (0)</a></li>
  <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-3">images ()</a></li>
  <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-4">audios ()</a></li>
  <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-5">files ()</a></li>
  <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-6">@e2DYt1exIC (0)</a></li>
</ul>

<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#ui-tabs-1">all posts <span class="icon-color action-like"><em>Loading…</em></span> <strong>1</strong></a></li>
    <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-2">status <span class="icon-color post-text"></span> <strong>0</strong></a></li>
    <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-3">images <span class="icon-color post-image"></span> <strong></strong></a></li>
    <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-4">audios <span class="icon-color post-audio"></span> <strong></strong></a></li>
    <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-5">files <span class="icon-color post-file"></span> <strong></strong></a></li>
    <li class="ui-state-default ui-corner-top"><a href="#ui-tabs-6">@e2DYt1exIC <span class="icon-color post-file"></span> <strong>0</strong></a></li>
  </ul>
*/
    ul.ui-tabs-nav {
      li {
        background: none transparent;border:none;
        a {
          position:relative;
          display:block;width:100%;height:18px;padding: 10px 0 4px;text-indent:40px;font-size:12px;
          span {
            display:block;width:16px;height:16px;
            position:absolute;top:10px;left:20px;
            em {display:none}
          }
          strong {
            float:right;margin-right:20px;
          }
        }
        &:hover, &.ui-tabs-selected { background:#fff; }
        &.selected, &.selected strong { color:$color3;font-weight:bold; }
      }
    }
    
    ul.list {  margin-top:10px; }
    ul.list li {
      a {
        position:relative;
        display:block;width:100%;height:18px;padding: 10px 0 4px;text-indent:40px;font-size:12px;
        span {
          display:block;width:16px;height:16px;
          position:absolute;top:10px;left:20px;
        }
        strong { float:right;margin-right:20px; }
        &:hover, &.selected { background:#fff; }
        &.selected, &.selected strong { color:$color3;font-weight:bold; }
      }
    }
     
    ul.table { }
    ul.table li {
      list-style:none;float:left;display:inline-block;width:60px;height:40px;margin-right:9px;
      &:last-child { margin:0; }
      a {
        display:block;width:100%;height:40px;font-size:12px;
        strong, span { display:block;text-align:center; }
        strong { font-size:15px;color:$color3; }
        span { font-size:10px; }
      }
    }
}



body.c-home.a-index .body .content {
  #home-form-tabs { border:none !important; }
  #home-form-tabs ul li { border:none;background:none;font-weight:bold; }
  #home-form-tabs ul li a { color:$color1; }
  #home-form-tabs ul li.ui-tabs-selected a { color:$color3; }
  #home-form-tabs ul li.disabled { color:$color4 !important;cursor:text;padding:6px 13px 6px 0; }
  #home-form-tabs ul li a { padding-left:0; }

  #home-form-tabs ul li span { float:left;margin-right: 5px; }
  #home-form-tabs .ui-tabs-panel { padding:0;margin-top:10px; }

  #home-form-tabs .field { width:550px; }
  #home-form-tabs textarea { width:100%; }
  #home-form-tabs .chars { font-size:24px;color:#ccc;margin-top:5px; }
  #home-form-tabs .ui-button { float:right;margin-right:0;font-weight:bold;color:#666;font-size:15px; }

  #home-post-tabs  { margin-top:50px;padding:0;border:none; }
  #home-post-tabs .ui-tabs-panel { padding:0;border-top: #ccc solid 1px;border-radius:0; }/*css3*/
}

body.c-users.a-show .body .content {
  .card {
    img#photo { float:left;margin-right:15px; }
    .about     { float:left;width:400px;
    h1 { font-size:18px;margin:0;color:$color3; }
      .relate_panel {
        height:40px;padding-top:10px;
        a { color:$color3; }
        .jqbutton { background:#efefef none; }
        .jqbutton span { color:#666 !important;font-weight:bold; }
        strong { color:#666; }
      }
      p {
        font-size:12px;line-height:20px;
        span.icon-color { display:inline-block;width:16px;height:13px; }
        span { color:$color4; }
      }
    }
  }
}






/*********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********/
/*********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********/
/*********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********/
/*********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********/
/*********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********/
/*********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********   PAGE SPECIFIC   *********/

/*
body.c-site.a-search a.more,
body.c-users.a-show a.more { margin: 20px; }
*/

body.c-home.a-index a.more,
body.c-site.a-search a.more { margin: 20px; }


body.c-registration {
  .new-user {
    .panel {
      display:inline-block;width:400px;margin-top:20px;
      h1 { color:#069;font-size:18px;margin:0 0 10px 0; }
      h2 { color:#069;font-size:24px;margin:0 0 3px 0; }
      h3 { color:#069;font-size:15px;margin:0 0 3px 0;font-weight:normal;border-bottom: #efefef solid 1px;padding-bottom:5px; }
      &.left  {
        float:left;
      }
      &.right {
        float:right;
        .field_with_errors { display:inline; }
        .my_error_msg { color: #f30;
          padding-left:20px;font-size:15px;
          margin-bottom:10px;display:block;
          background: url(/images/icons/icon_error.gif) no-repeat;
        }
        table {
          width:100%;
          tr {
            td {
              padding: 5px 3px 0px;
              &.label {
                text-align:right;width:100px;
                label { font-size: 15px;color:#333; }
              }
              &.field {
                .input-type-text { font-weight:bold;padding:5px;border-width:1px;font-size:15px;line-height:22px;margin-bottom:5px;width:100%;color:#212121; }
                .input-type-select { padding:5px;border-width:1px;font-size:15px;line-height:22px; }
              }
              
            }
          }
        }
      }
    }
    center { margin: 47px auto; }
    .ui-button {
      width:100% !important;margin-top:10px;font-weight:bold;font-size:18px;color:$color1 !important;
    }
  }
}

















/*********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********/
/*********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********/
/*********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********/
/*********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********/
/*********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********   FLAVOUR SPECIFIC   *********/





/*flavour begin*/

.icon-color { background: no-repeat 0 0;background-image:url($sprite_url) !important; }
a, a:hover { color: $color1; }
.header {
  background: $color1;
  .wrapper {
    .left {
      #logo {
      }
    }
    .right {
      li {
        &.hover {
          background: $color2;
        }
      }
    }
  }
}
.body .sidebar ul.table li a:hover strong { color:$color1; }
.body .sidebar a.user { color:$color4; }
/*flavour end*/



body.c-posts.a-show .post { padding:20px; }


body.c-search .post,
body.c-users.a-show .post { border-top:#ccc solid 1px;padding:20px 0; }

body.c-home.a-index .post { border-top:#ccc solid 1px;padding:20px; }
body.c-home.a-index .post:first-child { border-top:none; }/*css3*/


.post {
  font-size:15px;
  a { color:$color1; }
  .post-left  { display:inline-block;float:left;width:64px;margin-right:10px; }
  .post-right { display:inline-block;float:left;width:480px; }

  .who {
    .fullname { font-weight:bold; }
    
    .user { color:$color4; }
    .user:hover {  }
  }

  .text { color:$color3;line-height:20px; }

  .actions {
    font-size:12px;
    .time { color:$color4; }
  }
  


  .actions a {
    display:none;margin-right:5px;
  
    position:relative;
    height:12px;padding: 10px 0 4px;text-indent:20px;
  }
  .actions a span {
    display:block;width:16px;height:16px;
    position:absolute;top:8px;left:0px;
  }
  
  &.hover .actions a, .actions a.time { display:inline-block; }



  
  .line-files,
  .line-reposts { border-bottom:$color_line solid 1px;margin:10px 0; }
  .line-last { border-bottom:$color_line solid 1px;margin:10px 0 2px; }

  .repost { font-size:12px; }
  .repost .repost-time  { color:$color4;font-size:10px; }
  .repost .repost-text  { color:$color3; }

  .file { font-size:12px; }
  .file-name      { color:$color3; }
  .file-name span { color:$color4; }
  .file-get       { color:$color4;font-size:10px;margin-top:3px; }
  .file-get  a    { margin-left:5px; }
  a.thumbnail img  { border:#ccc solid 1px;padding:10px;max-width:200px; }

  .info_box {
    margin-top:30px;font-size:12px;color:$color3;
    .info {
      background:#fafafa;padding:5px 10px;margin-bottom:2px;border-top:$color_line solid 1px;
      small { display:inline-block;width:16px;height:16px;margin-right:5px; }
      p { display:inline-block;vertical-align:top;margin-top:3px; }
    }
  }
  
  .comment {
    font-size:12px;
    background:#fafafa;padding:5px 10px;margin:2px 0;border-top:$color_line solid 1px;
    .comment-left,
    .comment-right  { float:left;display:inline-block; }
    .comment-left   { margin-right:8px; }
    .comment-right  {
      width:420px;
      .comment-fullname { font-size:12px;font-weight:bold; }
      .comment-text     { color:$color3;line-height:15px; }
      .comment-time     { color:$color4;font-size:10px; }
      .comment-actions {
        span, a { margin-right:10px; }
      }
      form {
        label {
          color:$color4;
          &.checked { color:$color1; }
        }
        .counter { float:right;color:$color4;font-weight:bold; }
      }
    }
  }
  .comment textarea { width:90%;border-color:#ccc;font-size:12px;padding:5px;color:#222; }
  .comment-state-before textarea { color:#ccc; }

}





