<table id="bodytable" cellspacing=0>
<tbody>
  <tr>
    <td id="col1" class="col">
      <div class="col-in">
        <%= yield %>
      </div>
    </td>
    <td id="col2" class="col">
      <div class="col-in">
        <%= render 'col2' %>
      </div>
    </td>
    <td id="col3" class="col">
      <div class="col-in">
        <%= render 'col3' %>
      </div>
    </td>
  </tr>
</tbody>
</table>
<div id="col3-back">
</div>
