<% content_for :jsload do %>
  $(".posts").load("<%= ajax_search_posts_url(:search=>@city.l_) %>");
<% end %>

<%= content_tag :h2, @city.name, :style=>'color:#999' %>

<%= render '/home/forms' if cu_ro %>

<div class="posts">
</div>
