= background_image current_user if current_user
  
- @text_list.each do |text|
  .text{:style=>"border-bottom:solid 1px #999;padding:20px;"}
    = link_to raw(text[:text]), text[:url], :target=>'_blank'
