<div style="margin-bottom:200px;padding-top:100px;">
<center>Sua senha foi enviada para o email abaixo :)</center>
<h1><center><strong><%= @email_view %></strong></center></h1>
<br/>
<center>acesse <%= link_to @email_server, @email_server, :target=>'_blank', :style=>"font-size:20px;" %> agora</center>
<%= link_to "link do email", new_password_url(@user.username.downcase, @new_password_token) unless Rails.env.production? %>
</div>
